.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.card {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-shadow: none;
}

.card-body {
  padding: 0;
  text-align: left;
}

.transparent-card {
  background-color: transparent;
  border: none;
}

app-filter-list-pokemon, app-table-list-pokemon {
  width: 100%;
}
