.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* Elimina cualquier padding adicional */
}

.card {
  width: 100%;
  max-width: 600px; /* Ajusta el ancho máximo de la tarjeta si es necesario */
  padding: 20px;
  box-shadow: none;
}

.card-body {
  padding: 0;
  text-align: left; /* Cambia el alineamiento a la izquierda si es necesario */
}

.transparent-card {
  background-color: transparent; /* Mantiene el fondo transparente */
  border: none;
}

app-filter-list-pokemon, app-table-list-pokemon {
  width: 100%;
}
