.container {
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.ellipse-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1152px;
  height: 100%;
  padding: 20px;
}

.ellipse {
  width: 50vw;
  height: 50vw;
  max-width: 206px;
  max-height: 206px;
  background: #f22539;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin-bottom: 20px;
}

.ellipse img {
  width: 75vw;
  height: auto;
  max-width: 306px;
  max-height: 296px;
  object-fit: contain;
  position: relative;
  top: -10%;
  left: 5%;
}

h1 {
  font-size: 6vw;
  max-font-size: 1.5rem;
  margin-top: 20px;
}

p {
  font-size: 5vw;
  max-font-size: 1rem;
  color: #6c757d;
  margin: 10px 0 20px;
}

.btn {
  background-color: #dc3545;
  color: white;
  padding: 2vw 4vw;
  font-size: 4vw;
  max-font-size: 1rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #c82333;
}

.transparent-card {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.pokeball-loader {
  width: 20vw;
  max-width: 100px;
  height: auto;
  background-image: url("../../assets/images/loader.svg");
  background-size: cover;
  animation: spin 2s linear infinite;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .ellipse {
    width: 206px;
    height: 206px;
  }

  .ellipse img {
    width: 306px;
    height: 296px;
    top: -20px;
    left: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .btn {
    padding: 10px 20px;
    font-size: 1rem;
  }

  .pokeball-loader {
    width: 100px;
    height: 100px;
    background-image: url("../../assets/images/Loader.svg");
    background-size: cover;
    animation: spin 2s linear infinite;
  }
}
